@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    padding:0;
    margin: 0;
}

.speakerspage{
    /* background: url('https://images.pexels.com/photos/3109807/pexels-photo-3109807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'), linear-gradient(rgba(42,3,41,1),rgba(69,8,52,1)); */
    background:linear-gradient(rgba(42,3,41,0.95),rgba(69,8,52,0.95)), url('https://images.pexels.com/photos/3109807/pexels-photo-3109807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 0;
    /* padding: 1px; */
    animation: grad  4s infinite ;
}
@keyframes grad{
    0% {background:linear-gradient(rgba(42,3,41,0.95),rgba(69,8,52,0.95)), url('https://images.pexels.com/photos/3109807/pexels-photo-3109807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;}
    100% {background:linear-gradient(rgba(42,3,41,1),rgba(69,8,52,1)), url('https://images.pexels.com/photos/3109807/pexels-photo-3109807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    }
}

.pageheader{
    color: white;
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
    padding: 15px 0;
    letter-spacing: 5px;
}
.speakerswrapper{
    height: 75vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photoswrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.speakerimg{
    width: 100%;
}
.spname{
    color: white;
}