.section{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

.box {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url(./assets/wall1.svg);
  background-repeat: no-repeat;
  // background-position-y: -10rem;
  // background-size: cover;
  padding-right: 50rem;
  padding-left: 50rem;
  padding-bottom: 30rem;
  /* need to hardcode box sizes, else images loading throws off calculations */
  /* could be a job for imagesLoaded */
  width: 120vw;
  height: 100vh;
  margin-left: "-100%";
}

.box2 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url(./assets/wall2.png);
  background-repeat: no-repeat;
  // background-position-y: -10rem;
  // background-size: cover;
  padding-right: 100rem;
  // padding-left: 50rem;
  padding-bottom: 30rem;
  /* need to hardcode box sizes, else images loading throws off calculations */
  /* could be a job for imagesLoaded */
  width: 300vw;
  height: 100vh;
  margin-left: "-100%";
}
