.heading{
    /* position: relative; */
    font-weight: 700;
    box-shadow: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-reflect: below 10px linear-gradient(transparent, #0008);
    /* line-height: 0.70em; */
    /* animation: animate 5s linear infinite; */
    font-size: 4rem;
    /* line-height: 125px; */
    color: #FFFFFF;
    text-align: center;
    text-shadow: 1px 1px 2px #00FFFF;
    margin-bottom: 4%;
}



.sponsors{
  padding-top: 3%;
  padding-bottom: 10%;
  /* background-image: url('https://wallpapercave.com/wp/wp7051632.jpg'); */
  /* background-image: url('https://wallpapercave.com/wp/wp6252300.jpg');
  background-image: url('https://wallpapercave.com/wp/wp6656168.jpg'); */
  /* background-image: url('https://wallpapercave.com/wp/wp7051791.jpg'); */
  /* background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
  background: linear-gradient(360deg, #250834 12.5%, #270319 72.92%);
  background-size: 400% 400%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;	
  text-align: center;
  height: fit-content;
}

.sponsors_section{
  backdrop-filter: blur(8px);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.5);
  box-shadow: 8px 12px 50px rgba(0,0,0,0.4);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4%;
  /* padding: 3%; */
  /* margin : 5%; */
} 

.grid_justify {
  padding-top: 4%;
  padding-bottom: 4%;
  /* padding: 4%; */
  justify-content: center;
}

.subheading{
  padding-top: 3rem;
  box-shadow: none;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 100%;
  /* -webkit-box-reflect: below 10px linear-gradient(transparent, #0008); */
  /* line-height: 0.70em; */
  outline: none;
  text-shadow: 1px 1px 2px #00FFFF;
  /* animation: animate 5s linear infinite; */
}

@media (max-width: 800px){
  .heading{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .subheading{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

