.primary{
  width: 30vw;
  height:100vh;
  display:flex;
  flex-direction:column; 
  justify-content:center;
  align-content:center
}

.text{
  width: inherit;
  height: fit-content;
  word-wrap: break-word;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffffffad;
}

.text:hover{
  color: #ffffff;
  text-shadow: 2px 2px #ffffff2a;
}

/* .box{ */
/*   width: inherit; */
/*   height: 50vh; */
/*   display: flex; */
/*   flex-direction: row; */
/*   color: black; */
/*   word-wrap:break-word; */
/*   background-color: white; */
/* } */

  
