.primary{
  width: 20vw;
  height:100vh;
  display:flex;
  flex-direction:column; 
  justify-content:center;
  align-content:center
}

/* .box{ */
/*   width: inherit; */
/*   height: 50vh; */
/*   display: flex; */
/*   flex-direction: row; */
/*   color: black; */
/*   word-wrap:break-word; */
/*   background-color: white; */
/* } */

  
