
.sponcercard{
    padding: 1.5rem;
    max-width: 330px;
    width: 80%;
    background: transparent;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    /* position: relative; */
    z-index: 1;
    aspect-ratio: 16/9;
    /* filter: saturate(0.6),blur(10); */

}

.cardhoverbox:hover{
    filter:saturate(5);
}